@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	
	80% {
		transform: translateX(10px);
	}
	
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	
	80% {
		transform: translateX(-1rem);
	}
	
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	
	
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes wordSlide1 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes wordSlide2 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		right: 17rem;
	}

	100% {
		opacity: 0;
		right: 17rem;
	}
}

@keyframes wordSlide2-phone {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		right: 5rem;
	}

	100% {
		opacity: 0;
		right: 5rem;
	}
}

@keyframes wordSlide3 {
	0% {
		
		opacity: 0;
		
	}

	50% {
		
		opacity: 1;
		
	}

	100% {
		
		opacity: 0;
		
	}
}

@keyframes wordSlide4 {
	0% {
		
		opacity: 0;
		
	}

	50% {
		
		opacity: 1;
		
	}

	100% {
		
		opacity: 1;
		
	}
}

@keyframes moveInLeftSlide {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	
	100% {
		opacity: 1;
		transform: translate(0);
	}
}