.paragraph {
    font-size: $default-font-size;

    @include respond(sm-phone) {
    	font-size: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.soc-icons {
    list-style: none;
    text-align: center;
    margin-top: 2rem;

    & li {
        display: inline-block;
    }
}